<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col'>
      <h4>商品一覧</h4>
      <div class="text-right">
        <%= link_to new_admin_item_path, class: "btn btn-{themecolor}.rounded-circle.p-0", method: :get do %>
        <i class="fas fa-plus"></i>
        <% end %>
      </div>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price.to_s(:delimited)  %></td>
            <td><%= item.genre ? item.genre.name : "N/A" %></td>
            <td><%= item.is_active_i18n %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

<li class="nav-item col-md-4">
            <%# if admin_signed_in? %>
              <div class="search_form">
                <%= form_with url: admin_search_path, local: true, method: :get, class: "d-flex" do |f| %>
                  <%= f.text_field :word, class: "form-control me-2" %>
                  <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
                  <%= f.hidden_field :search, value: "partial"%> <!-- 部分一致しかできないように設定-->
                  <%= f.submit "検索", class: "btn btn-outline-success" %>
                <% end %>
              </div>
            <%# end %>
          </li>