<div class="container">
  <h2>配送先編集</h2>

  <%= form_with model:@address, url: address_path(@address) do |f| %>

    <table class="table table-borderless">
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :post_code, autocomplete: "post_code" %></td>
        </tr>
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td><%= f.text_field :address, autocomplete: "address", size: 60 %></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td><%= f.text_field :name, autocomplete: "name" %> </td>
          <td><%= f.submit "変更内容を保存", class: "btn btn-sm btn-success"%></td>
        </tr>
      </table>

  <% end %>

</div>