<body class="bg-body-tertiary">
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h1>Т│еТќЄТЃЁта▒тЁЦтіЏ</h1>
        <h3 class="lead">сЂЊсЂ«т║дсЂ»сЂфсЂїсЂ«сѓ▒сЃ╝сѓГсѓњсЂіжЂИсЂ│жаѓсЂЇУфасЂФсЂѓсѓісЂїсЂесЂєсЂћсЂќсЂёсЂЙсЂЎ­ЪјЅ</h3>
      </div>

      <div class="row g-5">
        <div class="col-md-5 col-lg-3 order-md-last">

        </div>

        <div class="col-md-7 col-lg-8">
          <h4 class="mb-5">УФІТ▒ѓтЁѕСйЈТЅђ</h4>
          <%= form_with class: "needs-validation", novalidate: true do |f| %>
            <div class="row g-3">
              <div class="col-sm-6">
                <%= f.label :familyName, class: "form-label" do %>
                  тДЊ
                <% end %>
                <%= f.text_field :familyName, class: "form-control", id: "familyName", placeholder: "", value: "", required: true %>
                <div class="invalid-feedback">
                  тљЇтГЌсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                </div>
              </div>

              <div class="col-sm-6">
                <%= f.label :givenName, class: "form-label" do %>
                  тљЇ
                <% end %>
                <%= f.text_field :givenName, class: "form-control", id: "givenName", placeholder: "", value: "", required: true %>
                <div class="invalid-feedback">
                  тљЇтЅЇсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                </div>
              </div>

              <div class="col-12">
                <%= f.label :username, class: "form-label" do %>
                  сЃдсЃ╝сѓХсЃ╝сЃЇсЃ╝сЃа
                <% end %>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <%= f.text_field :username, class: "form-control", id: "username", placeholder: "сЃдсЃ╝сѓХсЃ╝сЃЇсЃ╝сЃа", required: true %>
                  <div class="invalid-feedback">
                    сЃдсЃ╝сѓХсЃ╝тљЇсЂїт┐ЁУдЂсЂДсЂЎ
                  </div>
                </div>
              </div>

              <div class="col-12">
                <%= f.label :email, class: "form-label" do %>
                  EсЃАсЃ╝сЃФ <span class="text-body-secondary">(С╗╗ТёЈ)</span>
                <% end %>
                <%= f.email_field :email, class: "form-control", id: "email", placeholder: "you@example.com" %>
                <div class="invalid-feedback">
                  жЁЇжђЂсЂ«ТЏ┤Тќ░сЂФТюЅті╣сЂфсЃАсЃ╝сЃФсѓбсЃЅсЃгсѓ╣сѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                </div>
              </div>

              <div class="col-md-3">
                  <%= f.label :zip, class: "form-label" do %>
                    жЃхСЙ┐уЋфтЈи
                  <% end %>
                  <%= f.text_field :zip, class: "form-control", id: "zip", placeholder: "", required: true %>
                  <div class="invalid-feedback">
                    жЃхСЙ┐уЋфтЈисѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                  </div>
                </div>

                <div class="col-md-5 mt-2">
                  <%= f.label :pref, class: "form-label" do %>
                    жЃйжЂЊт║юуюї
                  <% end %>
                  <%= f.select :pref, options_for_select([["жЂИТіъ...", nil], ["тїЌТхижЂЊ", "hokkaido"], ["жЮњТБ«уюї", "aomori"], ["т▓ЕТЅІуюї", "iwate"], ["т««тЪјуюї", "miyagi"], ["уДІућ░уюї", "akita"],
                  ["т▒▒тйбуюї", "yamagata"], ["удЈт│Хуюї", "fukushima"], ["УїетЪјуюї", "ibaraki"], ["ТаЃТюеуюї", "tochigi"], ["уЙцждгуюї", "gunma"], ["тЪ╝ујЅуюї", "saitama"], ["тЇЃУЉЅуюї", "chiba"],
                  ["ТЮ▒С║гжЃй", "tokyo"], ["уЦътЦѕтиЮуюї", "kanagawa"], ["Тќ░ТйЪуюї", "niigata"], ["т»їт▒▒уюї", "toyama"], ["уЪ│тиЮуюї", "ishikawa"], ["удЈС║Ћуюї", "fukui"], ["т▒▒Тбеуюї", "yamanashi"],
                  ["жЋижЄјуюї", "nagano"], ["т▓љжўюуюї", "gifu"], ["жЮЎт▓Ауюї", "shizuoka"], ["ТёЏуЪЦуюї", "aichi"], ["СИЅжЄЇуюї", "mie"], ["Т╗ІУ│ђуюї", "shiga"], ["С║гжЃйт║ю", "kyoto"], ["тцДжўфт║ю", "osaka"],
                  ["тЁхт║Фуюї", "hyogo"], ["тЦѕУЅ»уюї", "nara"], ["тњїТГїт▒▒уюї", "wakayama"], ["ж│ЦтЈќуюї", "tottori"], ["т│ХТа╣уюї", "shimane"], ["т▓Ат▒▒уюї", "okayama"], ["т║Ѓт│Хуюї", "hiroshima"], ["т▒▒тЈБуюї", "yamaguchi"], ["тЙ│т│Хуюї", "tokushima"],
                  ["ждЎтиЮуюї", "kagawa"], ["ТёЏтфЏуюї", "ehime"], ["жФўуЪЦуюї", "kochi"], ["удЈт▓Ауюї", "fukuoka"], ["СйљУ│ђуюї", "saga"], ["жЋит┤јуюї", "nagasaki"], ["уєіТюгуюї", "kumamoto"], ["тцДтѕєуюї", "oita"], ["т««т┤јуюї", "miyazaki"],
                  ["ж╣┐тЁљт│Хуюї", "kagoshima"], ["Т▓ќуИёуюї", "okinawa"]]), { include_blank: true }, { class: "form-select d-block w-100", id: "pref", required: true } %>
                  <div class="invalid-feedback">
                    жЃйжЂЊт║юуюїсѓњжЂИТіъсЂЌсЂдсЂЈсЂасЂЋсЂё
                  </div>
                </div>


                <div class="col-md-4 mt-2">
                  <%= f.label :city, class: "form-label" do %>
                    тИѓућ║ТЮЉ
                  <% end %>
                  <%= f.select :city, options_for_select([["жЂИТіъ...", nil], ["ТюГт╣їтИѓ", "sapporo"]]), { include_blank: true }, { class: "form-select d-block w-100", id: "city", required: true } %>
                  <div class="invalid-feedback">
                    тИѓућ║ТЮЉсѓњжЂИТіъсЂЌсЂдсЂЈсЂасЂЋсЂё
                  </div>
                </div>



               <div class="col-12">
                  <%= f.label :address, class: "form-label" do %>
                    СйЈТЅђ
                  <% end %>
                  <%= f.text_field :address, class: "form-control", id: "address", placeholder: "тю░уЋф", required: true %>
                  <div class="invalid-feedback">
                    жЁЇжђЂтЁѕСйЈТЅђсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                  </div>
                </div>

                <div class="col-12">
                  <%= f.label :address2, class: "form-label" do %>
                    СйЈТЅђ 2 <span class="text-body-secondary">(С╗╗ТёЈ)</span>
                  <% end %>
                  <%= f.text_field :address2, class: "form-control", id: "address2", placeholder: "сѓбсЃЉсЃ╝сЃѕсЃ╗сЃъсЃ│сѓисЃДсЃ│тљЇ" %>
                </div>

                </div>

                <hr class="my-4">
                  <div class="form-check">
                    <%= f.check_box :addressCheck, class: "form-check-input", id: "addressCheck" %>
                    <%= f.label :addressCheck, class: "form-check-label", for: "addressCheck" do %>
                      жЁЇжђЂтЁѕСйЈТЅђсЂ»сђЂУФІТ▒ѓтЁѕСйЈТЅђсЂетљїсЂўсЂДсЂЎ
                    <% end %>
                  </div>

                  <div class="form-check">
                    <%= f.check_box :keepCheck, class: "form-check-input", id: "keepCheck" %>
                    <%= f.label :keepCheck, class: "form-check-label", for: "keepCheck" do %>
                      ТгАтЏъсЂ«сЂЪсѓЂсЂФсђЂсЂЊсЂ«ТЃЁта▒сѓњС┐ЮтГўсЂЎсѓІ
                    <% end %>
                  </div>

                  <hr class="my-4">
                    <h4 class="mb-3">сЂіТћ»ТЅЋсЂёТќ╣Т│Ћ</h4>
                    <div class="my-3">
                      <div class="form-check">
                        <%= f.radio_button :paymentMethod, "credit", class: "form-check-input", id: "credit", checked: true, required: true %>
                        <%= f.label :credit, class: "form-check-label", for: "credit" do %>
                          сѓ»сЃгсѓИсЃЃсЃѕсѓФсЃ╝сЃЅ
                        <% end %>
                      </div>

                      <div class="form-check">
                        <%= f.radio_button :paymentMethod, "debit", class: "form-check-input", id: "debit", required: true %>
                        <%= f.label :debit, class: "form-check-label", for: "debit" do %>
                          сЃЄсЃЊсЃЃсЃѕсѓФсЃ╝сЃЅ
                        <% end %>
                      </div>

                      <div class="form-check">
                        <%= f.radio_button :paymentMethod, "paypal", class: "form-check-input", id: "paypal", required: true %>
                        <%= f.label :paypal, class: "form-check-label", for: "paypal" do %>
                          PayPal
                        <% end %>
                      </div>
                    </div>

                    <div class="row gy-3">
                      <div class="col-md-6">
                        <%= f.label :cc_name, class: "form-label" do %>
                          сѓФсЃ╝сЃЅсЂ«тљЇуЙЕ
                        <% end %>
                        <%= f.text_field :cc_name, class: "form-control", id: "cc-name", placeholder: "", required: true %>
                         <small class="text-body-secondary">сѓФсЃ╝сЃЅСИісЂФУАеуц║сЂЋсѓїсЂдсЂёсѓІсЃЋсЃФсЃЇсЃ╝сЃа</small>
                    <div class="invalid-feedback">
                      сѓФсЃ╝сЃЅсЂ«тљЇуЙЕсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                    </div>
                    </div>

                    <div class="col-md-6">
                      <%= f.label :cc_number, class: "form-label" do %>
                        сѓ»сЃгсѓИсЃЃсЃѕсѓФсЃ╝сЃЅуЋфтЈи
                      <% end %>
                      <%= f.text_field :cc_number, class: "form-control", id: "cc-number", placeholder: "", required: true %>
                      <div class="invalid-feedback">
                        сѓ»сЃгсѓИсЃЃсЃѕсѓФсЃ╝сЃЅуЋфтЈисѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                      </div>
                    </div>

                    <div class="col-md-3">
                      <%= f.label :cc_expiration, class: "form-label" do %>
                        ТюЅті╣ТюЪжЎљ
                      <% end %>
                      <%= f.text_field :cc_expiration, class: "form-control", id: "cc-expiration", placeholder: "", required: true %>
                      <div class="invalid-feedback">
                        ТюЅті╣ТюЪжЎљсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                      </div>
                    </div>

                    <div class="col-md-3">
                      <%= f.label :cc_cvv, class: "form-label" do %>
                        CVV
                      <% end %>
                      <%= f.text_field :cc_cvv, class: "form-control", id: "cc-cvv", placeholder: "", required: true %>
                      <div class="invalid-feedback">
                        сѓ╗сѓГсЃЦсЃфсЃєсѓБсѓ│сЃ╝сЃЅсѓњтЁЦтіЏсЂЌсЂдсЂЈсЂасЂЋсЂё
                      </div>
                    </div>
                      </div>

                      <hr class="my-4">
                        <%= f.submit "у▓Йу«ЌсѓњуХџсЂЉсѓІ", class: "w-100 btn btn-secondary btn-lg", type: "submit" %>
                        <% end %>
                                </div>
                              </div>
                            </main>

