<div class="container mt-5">
  <div class="row">

   <div class="col-3 mr-5">
      <div class="card">
        <div class="card-header">
          ジャンル検索
        </div>
        <ul class="list-group list-group-flush">
          <% @genres.each do |genre| %>
          <li class="list-group-item">
            <%= link_to genre.name, genre_path(genre.id), class: 'text-reset h5' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

  <div class="col-md-8 col-sm-6 col-12">
   <div class="row d-flex justify-content-center flex-wrap">
    <div style="width:600px text-center">
     <%= image_tag @item.get_image(300, 300) %>
    </div>

     <div class="width:600px">
      <h2 class="font-weight-bold mb-3"><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <p>
       <strong style="font-size: 25px">¥ <%= @item.with_tax_price.to_s(:delimited) %></strong>
       (税込)
      </p>
      <% if @item.is_active == "sale" %>
       <p class="text-success"><%= @item.is_active_i18n %></p>
      <% else %>
       <p class="text-danger"><%= @item.is_active_i18n %></p>
      <% end %>

      <% if customer_signed_in? && @item.is_active == "sale" %>
       <div>
        <%= form_with model:@cart_item, url: cart_items_path, method: :post do |f| %>
         <%= f.hidden_field :customer_id, :value => current_customer.id %>
         <%= f.hidden_field :item_id, :value => @item.id %>
         <div class="d-flex justify-content-between" style="width:250px">
          数量<%= f.select :quantity, *[1..10] %>
          <%= f.submit "カートに入れる", class: "btn btn-sm btn-success" %>
         </div>
        <% end %>
       </div>
      <% end %>

     </div>
    </div>
   </div>
  </div>
</div>