 <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fff0f5">
    <a class="navbar-brand" href="#"><%=link_to image_tag("header_logo.png"), "/" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto text-nowrap">

        <% if admin_signed_in? %>
          <% if request.fullpath.include? "/admin" %>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item col-md-4">
            <div class="search_form">
              <%= form_with url: admin_search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, class: "form-control me-2" %>
                <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
                <%= f.hidden_field :search, value: "partial"%> <!-- 部分一致しかできないように設定-->
                <%= f.submit "検索", class: "btn btn-outline-success" %>
              <% end %>
            </div>
          </li>
          <% else %>
          <h4 class="navbar-text-dark d-flex align-items-center mr-5">ようこそ <strong>ゲスト</strong> さん！</h4>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link" do %>
            <i class="fas fa-address-card fa-lg" style="color: #f5cab3;"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link" do %>
            <i class="fas fa-birthday-cake fa-lg" style="color: #f5cab3;"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-plus fa-lg" style="color: #f5cab3;"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: "nav-link" do %>
            <i class="fas fa-door-open fa-lg" style="color: #f5cab3;"></i> ログイン
          </li>
          <% end %>
          <li class="nav-item col-md-4">
            <div class="search_form">
              <%= form_with url: search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, class: "form-control me-2" %>
                <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
                <%= f.hidden_field :search, value: "partial"%> <!-- 部分一致しかできないように設定-->
                <%= f.submit "検索", class: "btn btn-outline-success" %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% elsif customer_signed_in? %>
          <h4 class="navbar-text-dark d-flex align-items-center mr-5">ようこそ <strong><%= current_customer.first_name %></strong> さん！</h4>
          <li class="nav-item">
            <%= link_to customers_my_page_path, class: "nav-link" do %>
              <i class="fas fa-user-circle fa-lg" style="color: #f5cab3;"></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link" do %>
            <i class="fas fa-birthday-cake fa-lg" style="color: #f5cab3;"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to cart_items_path, class: "nav-link" do %>
            <i class="fas fa-shopping-cart fa-lg" style="color: #f5cab3;"></i> カート
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-sign-out-alt fa-lg" style="color: #f5cab3;"></i> ログアウト
            <% end %>
          </li>
          <li class="nav-item col-md-3">
            <div class="search_form">
              <%= form_with url: search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, class: "form-control me-2" %>
                <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
                <%= f.hidden_field :search, value: "partial"%> <!-- 部分一致しかできないように設定-->
                <%= f.submit "検索", class: "btn btn-outline-success" %>
              <% end %>
            </div>
          </li>

        <% else %>
          <h4 class="navbar-text-dark d-flex align-items-center mr-5">ようこそ <strong>ゲスト</strong> さん！</h4>
          <li class="nav-item">
            <%= link_to about_path, class: "nav-link" do %>
            <i class="fas fa-address-card fa-lg" style="color: #f5cab3;"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path, class: "nav-link" do %>
            <i class="fas fa-birthday-cake fa-lg" style="color: #f5cab3;"></i> 商品一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-plus fa-lg" style="color: #f5cab3;"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path, class: "nav-link" do %>
            <i class="fas fa-door-open fa-lg" style="color: #f5cab3;"></i> ログイン
          </li>
          <% end %>
          <li class="nav-item col-md-4">
            <div class="search_form">
              <%= form_with url: search_path, local: true, method: :get, class: "d-flex" do |f| %>
                <%= f.text_field :word, class: "form-control me-2" %>
                <%= f.hidden_field :range, value: "商品"%> <!-- 商品しか検索できないように設定-->
                <%= f.hidden_field :search, value: "partial"%> <!-- 部分一致しかできないように設定-->
                <%= f.submit "検索", class: "btn btn-outline-success" %>
              <% end %>
            </div>
          </li>

        <% end %>
        </ul>
      </div>
    </nav>