<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'strawberry-cake.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header></header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%=link_to image_tag("headerlogo.png"), "/" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", customers_my_page_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "カート", cart_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_items_path, class: "nav-link" %>
          <!--↑注文履歴一覧へパス変更-->
          </li>
          <li class="nav-item">
            <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", items_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
          </li>
        <% end %>
          <li class="nav-item col-md-4">
          <%= form_with url: root_path, method: :get, local: true, class: "d-flex" do |f| %>
            <%= f.search_field :query, class: "form-control me-2", placeholder: "検索", aria: { label: "Search" } %>
            <%= f.submit "検索", class: "btn btn-outline-success" %>
          <% end %>
          </li>
        </ul>
      </div>
    </nav>

  <!-- フラッシュメッセージ -->
  <% if flash[:notice] %>
    <div class="text-success">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="text-danger">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>

<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">

        <% if admin_signed_in? %>
          <%= link_to "管理者ページ", admin_items_path, class: "nav-link" %>
          <!--↑注文履歴一覧へパス-->
        <% else %>
          <%= link_to "管理者ページ", admin_session_path, class: "nav-link" %>
        <% end %>

        <p>CopyRight 3bit.inc</p>
      </div>
    </div>
  </div>
</footer>

</html>

